# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtualenv
.venv/
venv/
ENV/
